.btn-box {
 text-align: center;
 padding-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
 box-sizing: border-box;
}


.grid-container {
 display: grid;
 grid-template-columns: auto auto auto;
 margin-left: auto;
 margin-right: auto;
 max-width: 960px;
 max-height: 960px;
}

:root {
 --grid-cols: 1;
 --grid-rows: 1;
}

.grid-container {
 display: grid;
 grid-gap: 5px;
 grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));
 grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
 width: 960px;
 height: 960px;
}

.grid-box {
 padding: 1em;
 border: 1px solid #ddd;
}

.hovered {
 background-color: black;
}
