.btn-box {
 text-align: center;
 max-width: 960px;
 padding-bottom: 20px;
}


.grid-container {
 display: grid;
 grid-template-columns: auto auto auto;
}

:root {
 --grid-cols: 1;
 --grid-rows: 1;
}

.grid-container {
 display: grid;
 grid-gap: 1em;
 grid-template-rows: repeat(var(--grid-rows), 1fr);
 grid-template-columns: repeat(var(--grid-cols), 1fr);
 max-width: 960px;
 max-height: 960px;
}

.grid-box {
 padding: 1em;
 border: 1px solid #ddd;
 text-align: center;
}

.hovered {
 background-color: black;
}
